In [2]:
pip install numpy pandas scikit-learn joblib

Requirement already satisfied: numpy in /home/technetron512/my-ml-service/venv/lib/python3.10/site-packages (1.26.4)
Requirement already satisfied: pandas in /home/technetron512/my-ml-service/venv/lib/python3.10/site-packages (2.2.2)
Requirement already satisfied: scikit-learn in /home/technetron512/my-ml-service/venv/lib/python3.10/site-packages (1.4.2)
Requirement already satisfied: joblib in /home/technetron512/my-ml-service/venv/lib/python3.10/site-packages (1.4.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/technetron512/my-ml-service/venv/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/technetron512/my-ml-service/venv/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/technetron512/my-ml-service/venv/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: scipy>=1.6.0 in /home/technetron512/my-ml-service/venv/lib/python3.10/site-packages (from scikit-learn) (1.13.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/technetron512/my-ml-service/venv/lib/python3.10/site-packages (from scikit-learn) (3.4.0)
Requirement already satisfied: six>=1.5 in /home/technetron512/my-ml-service/venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import json
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
import joblib

In [8]:
df = pd.read_csv('https://raw.githubusercontent.com/sudarshan284/my-ml-service/main/data.csv',skipinitialspace=True)
x_cols = [c for c in df.columns if c != 'income']
#set input matrix and target column
x=df[x_cols]
y=df['income']
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [10]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1234)

In [12]:
train_mode=dict(X_train.mode().iloc[0])
X_train = X_train.fillna(train_mode)
print(train_mode)

{'age': 31.0, 'workclass': 'Private', 'fnlwgt': 121124, 'education': 'HS-grad', 'education-num': 9.0, 'marital-status': 'Married-civ-spouse', 'occupation': 'Prof-specialty', 'relationship': 'Husband', 'race': 'White', 'sex': 'Male', 'capital-gain': 0.0, 'capital-loss': 0.0, 'hours-per-week': 40.0, 'native-country': 'United-States'}

In [13]:
encoders = {}
for column in ['workclass','education','marital-status','occupation','relationship','race','sex','native-country']:
    categorical_convert = LabelEncoder()
    X_train[column] = categorical_convert.fit_transform(X_train[column])
    encoders[column] = categorical_convert

In [14]:
rf = RandomForestClassifier(n_estimators=100)
rf = rf.fit(X_train,y_train)

In [15]:
# train the Extra Trees algorithm
et = ExtraTreesClassifier(n_estimators = 100)
et = et.fit(X_train, y_train)

In [16]:
# save preprocessing objects and RF algorithm
joblib.dump(train_mode, "./train_mode.joblib", compress=True)
joblib.dump(encoders, "./encoders.joblib", compress=True)
joblib.dump(rf, "./random_forest.joblib", compress=True)
joblib.dump(et, "./extra_trees.joblib", compress=True)

['./extra_trees.joblib']